@media only screen and (max-width: 720px) {
#wrapper {
    background: blue;
  }
}

@media only screen and (max-width: 570px) {
  #wrapper {
    background: #7f7;
  }
}

@media only screen and (max-width: 480px) {
   #wrapper {
     display: initial;
  /*  float: none;
    width: 100%;
    columns: 1;*/
  }
  #profile {

    /*
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;*/
  }

  h1{
  text-align: center;
  }
}
