@media only screen and (max-width: 740px){
#wrapper{ 
background-color: red;
}
}

@media only screen and (max-width: 740px){
#wrapper{ 
background-color: green;
}
}

@media only screen and (max-width: 570px){
#wrapper{ 
background-color: #7f7;
}
}

@media only screen and (max-width: 480px){
#wrapper{ 
background-color: #77f;
}
}
